<div class="body">
    <h2 class="text-center">
        Sign Up
    </h2>

    <form #f="ngForm" (ngSubmit)="signUp(f)">
        <input ngModel name="name" type="text" #name="ngModel" class="form-control" placeholder="Name" required><br>
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Name is Required</div>

        <input ngModel name="email" type="email" #email="ngModel" class="form-control" placeholder="Email" required email><br>
        <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Email is required</div>
        <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">Email Format is wrong</div>
        

        <input ngModel name="password" type="password" #password="ngModel" class="form-control" placeholder="Password" required minlength="6"><br>
        <div class="alert alert-danger" *ngIf="password.errors?.required && password.touched">Passowrd required</div>
        <div class="alert alert-danger" *ngIf="password.errors?.minlength && password.touched">Password is too small</div>

        <input ngModel #confirmpassword="ngModel" name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password" required><br>
        <div class="alert alert-danger" *ngIf="confirmpassword.errors?.required && confirmpassword.touched">confirm your password</div>
        <div class="alert alert-danger" *ngIf="password.value !== confirmpassword.value && confirmpassword.touched">password not matched</div>


        <input ngModel #address="ngModel" name="address" type="text" class="form-control" placeholder="Address" required><br>
        <div class="alert alert-danger" *ngIf="address.invalid && address.touched">enter your address</div>

        <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Create an account</button>
    </form>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>